@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html{ 
    scroll-behavior: smooth;
}
*{ 
    box-sizing: border-box;
}
body{ 
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: darkkhaki;
    
}
.navbar{ 
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: darkgoldenrod;
    padding: 0 40px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

}
.brand{ 
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.menuIcon{ 
    margin-left: auto;
    cursor: pointer;
}
.modalMenu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
    z-index: 200;
}
.closeIcons{
    color: seashell;
    font-size: 2rem;
    position: absolute;
    top: 15vh;
    right: 10%;
}
.closeIcons:hover{ 
    color: red;
    cursor: pointer;
}
.modalMenu a{ 
    text-decoration: none;
    color: rgba(0,0,0,0.500);
    font-size: 2rem;
}
.modalMenu a:hover{ 
    color:seashell;
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
}
.container{ 
    width: 100vw;
    height: auto;
    min-height: 100vh;
}
.container section{ 
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{ 
    gap: 40px;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: flex-start;
}
.home_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100%;
    margin-bottom: auto;
}
.ABOUT{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "box1 box2"
    "box3 box4"
    ; 
}
.box{
    width: 100%;
    height: 100%;
    padding: 40px;
}
.about_box1{
    grid-area: box1;
    background-image: url(https:picsum.photos/seed/128/900);
    background-size: auto;
    background-attachment: fixed;
    border-radius: 0 0 100px 0;
}
.about_box2{
    grid-area: box2;
}
.about_box3{
    grid-area: box3;
}
.about_box4{
    grid-area: box4;
    background-image: url(https:picsum.photos/seed/130/500);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 100px 0 0 0;
}
.CONTACT{
    background-image: url(https:picsum.photos/seed/75/300);
    background-size: cover;
    background-attachment: fixed;
}
.SHOWCASE{
    flex-direction: column;
    justify-content: center;
}
.wrapper_showcase img{
    border-radius: 0 50px 0 50px;
    transition: 1.5s;
}
.wrapper_showcase img:hover{
    border-radius: 10px;
    cursor: pointer;
}
.showcase_tittle{
    font-size: 3rem;

}
.wrapper_showcase{
    width: 100vw;
    height: auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    border-radius: 100x 20px 100px 20px;
}


.rotateIcon{
    font-size: 5rem;
    animation-name: rotate;
    animation-direction: 4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.alertABOUT{
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color:darkgoldenrod;
    position: sticky;
    top: 10vh;
    z-index: 80;
    margin-bottom: auto;
    font-family: 'Merriweather', serif; 
}
.homeImage{
    width: 550px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 250px 250px 20px 250px;
    box-shadow: 5px 6px 7px darkslategray;
    animation-name: bottomtotop;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.homeText{
    font-size: 5rem;
    color:darkgoldenrod;
    animation-name: bottomtotop;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    opacity: 0;
}
@keyframes bottomtotop{
    from{
        transform: translateX(-20vh);
        opacity: 0;
    }
    to{
        transform: translateX(0vh);
        opacity: 5;
    }
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}